<ion-view title="Grocery List" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="groceryList-list3">
      <ion-item class="item-icon-right" id="groceryList-list-item11">Item 1
        <i class="icon ion-android-checkbox-outline-blank"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="groceryList-list-item12">Item 2
        <i class="icon ion-android-checkbox-outline-blank"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="groceryList-list-item13">Item 3
        <i class="icon ion-android-checkbox-outline-blank"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>